
body {
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
}
body {
        -ms-overflow-style: none;
    }
#album-de-fotos1 {
       padding-bottom: 0px;
    padding-top: 100px;
}
.navbar-inverse.menu-custom .navbar-nav> li a.active{
    height: 70px;
    background-image: linear-gradient(to bottom, #be181c 0%, #be181c 100%);
    background-image: -webkit-linear-gradient(to bottom, #be181c 0%, #be181c 100%);
    box-shadow: none;
    background-color: #be181c;
}
.cus-infowindow p {
    color: grey;
    font-size: 12px;
    font-family: 'LatoWebLight';
    margin: 0;
}
.cus-infowindow h2 {
    color: grey;
    font-size: 12px;
    font-family: 'LatoWebBold';
    color: red;
    margin: 0;
}
.third-section p.seprtate_section {
    color: black;
    font-family: 'LatoWebBold';
    margin: 10px 10px;
}
.checkbox.col-md-12.text-center a {
    text-decoration: none;
    color: #808080;
}
.checkbox.col-md-12.col-xs-12.text-center a {
    text-decoration: underline;
    color: #808080;
}
.checkbox.col-md-12.col-xs-12.text-center a:hover {
    text-decoration: none;
}
/*.checkbox.col-md-12.text-center a:hover {background-color: none!important ;}*/

.navbar-inverse.menu-custom .navbar-nav> li:hover a.leg {
    background: transparent;
}
#fild5-error {
    left: 96px;
    position: absolute;
    top: 17px;
    color: red;
}
label.error {
    color: red !important;
    float: left;
    margin: 0 0 2px 20px;
}
.message {
    text-align: center;
    color: green;
    font-family: "LatoWebBold";
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.col-md-6.col-sm-6.fr {
    padding: 0 0 0 16px;
}
.col-md-12.footer-content {
    padding: 0;
}
.testimonal a {
    display: none;
}
.center-slider-arrow a {
    display: block;
}
#lightboxOverlay {
    top: 3480px;
    height: 540px !important;
}
#lightbox {
    top: 3588px !important;
	height: 540px !important;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
/*.testimonal a {display: none;}*/

.lb-caption {
    position: absolute;
    bottom: -27px;
}
/*.lightboxOverlay{top:605%; height: 435px;}
.lightbox {top: 3957px;}*/
/*=======Menu + First Section Start===========*/

.new-section {
    display: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.text-center {
    text-align: center;
}
.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
}
.navbar-header {
    padding-right: 0;
}
.carousel-inner {
    max-height: 530px;
}
.carousel-control.left {
    background-image: none;
    height: 5%;
    top: 49%;
    width: 0;
    left: 502px;
}
.carousel-control.right {
    background-image: none;
height: 5%;
    top: 243px;
    width: 0;
    right: 428px;
    z-index: 10;
}
.over_image {
    top: 0;
    float: right;
}
.glyphicon-chevron-right {
    background-image: url('../image/slider/left-arrow.png');
    background-repeat: no-repeat;
}
.glyphicon-chevron-right::before {
    content: none;
}
.carousel-control {
    opacity: 1;
}
.glyphicon-chevron-left::before {
    content: none;
}
.glyphicon-chevron-left {
    background-image: url('../image/slider/right-arrow.png');
    background-repeat: no-repeat;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 100px;
    height: 100px;
}
.carousel-caption {
    top: 7%;
    text-align: left;
    left: 30%;
}
.carousel-caption h3 {
    font-family: 'LatoWebBold';
    font-size: 28px;
    background-color: red;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    padding: 8px 15px;
    text-align: left;
}
.carousel-caption h3:first-child {
    margin-top: 0;
}
.carousel-caption h3 {
    margin-top: 5px;
}
.img_360 {
    margin-top: 45px;
}
/*=======Menu + First Section End===========*/
/*=======Icon Section Start===========*/

.icon-block {
    width: 20%;
}
/*=======Icon Section  End===========*/
.new-section-title .section-title-proyecto{
   padding-top: 80px;
}
.new-section-title .section-title-proyecto h2 {
    color: #696969;
    font-family: "latoWeb";
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
    text-transform: uppercase;
}
.new-section-title .section-title-proyecto h2 span {
    font-family: 'LatoWebBold';
}
.new-section-title .section-title-proyecto p {
    font-size: 14px; 
    text-align: center; 
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
    margin: 0; 
    padding:30px 0 0 0; 
    color: #a8a8a8;
    width: 100%;
}
/*=======Third Section  Start===========*/

.third-section .section-title {
    padding-bottom: 75px;
	    padding-top: 100px;
}
.third-section .section-title h2 {
    font-family: 'latoWeb';
    font-weight: lighter;
    font-size: 36px;
    color: #696969;
    text-transform: uppercase;
    margin: 0;
}
.third-section .section-title h2 span {
    font-family: 'LatoWebBold';
}
.slider-third-2 {
    width: 460px;
    height: 390px;
    padding: 0;
}
.slider-third-1 {
    width: 460px;
    padding: 0;
}
.right-title h3 {
    margin: 0;
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
    font-size: 36px;
    color: #ea1d23;
    font-weight: bold;
    line-height: 35px;
}
.right-description ul {
    padding: 0 0 0 15px;
}
.right-description ul li:first-child {
    padding-top: 0;
}
.right-description ul li {
    list-style-type: circle;
    color: #a8a8a8;
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
    font-size: 14px;
    padding-top: 7px
}
.right-description p.condition {
    color: #a8a8a8; 
    font-size: 14px; 
    font-family: Avenir-Book, Arial, Helvetica, SansSerif; 
    margin: 0; 
    padding: 0; 
}
/*.third-section .fl .carousel .carousel-inner {max-height: 430px;}*/

.legal-text p {
    font-size: 9px;
    text-align: center;
    margin: 0;
    color: #acacac;
    text-align: center;
    margin-left: 20px;
}
/*=======Third Section  End===========*/
/*=======Fourth Section  End===========*/

.four-section {
       padding-top: 150px;
}
.fotos-control-left {
    left: 44px !important;
}
.fotos-control-right {
    right: -33px !important;
}

.four-sec-title h2 {
    font-family: 'latoWeb';
    font-weight: lighter;
    font-size: 36px;
    color: #696969;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.four-sec-title h2 span {
    font-family: 'LatoWebBold';
}
blockquote {
    display: block;
    margin: 0 auto;
    position: relative;
    border: none;
    font-size: 33px;
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
    line-height: 43px;
    text-transform: none;
    width: 798px;
    color: #5e5e5e;
    text-align: center;
    font-style: italic;
    padding-bottom: 52px;
}
blockquote span {
    color: #ea1d23;
}
blockquote::before {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 111px;
    font-weight: bold;
    color: red;
    /*Positioning*/
    
    position: absolute;
    left: -40px;
    top: 60px;
}
blockquote.end {
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 111px;
    font-weight: bold;
    color: red;
    /*Positioning*/
    
    position: absolute;
    left: 794px !important;
    top: 60px;
    width: auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*=======fourth Section  End===========*/
/*=======five Section  start===========*/

.five-sec-arrow-left {
    left: 0 !important;
     top: -80px !important;
}
.five-sec-arrow-right {
    right: -34px !important;
   top: -80px !important;
}
.section-five-title {
    margin-bottom: 67px;
}
.section-five-title h2 {
    font-family: 'latoWeb';
    font-weight: lighter;
    font-size: 36px;
    color: #696969;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.section-five-title h2 span {
    font-family: 'LatoWebBold';
}
/*=======five Section  End===========*/
/*=======six Section  start===========*/

.six-sec-title {
    margin-bottom: 18px;
}
.six-sec-title h2 {
    font-family: 'latoWeb';
    font-weight: lighter;
    font-size: 36px;
    color: #696969;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
.six-sec-title h2 span {
    font-family: 'LatoWebBold';
}
.six-description p.des {
    font-size: 14px;
    color: #a8a8a8;
    text-align: center;
    margin: 0 0 70px 0;
}
/*=======six Section  end===========*/
/*=======six-one Section  Start===========*/

.six-one-section {
    text-transform: uppercase;
}
.bottom-icon {
    padding-top: 86px;
}
.bottom-icon ul {
    padding: 22px 0 0 0;
    margin: 0;
}
.bottom-icon ul li {
    list-style: none;
}
.bottom-icon ul li {
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
    font-size: 14px;
    color: #808080;
    text-transform: initial;
    font-size: 12px;
}
.bottom-icon ul li.text-bold {
    font-weight: bold;
    font-size: 14px;
}
/*=======six-one Section  end===========*/
/*=======seven Section  start===========*/

#seven {
    padding: 48px 0 62px 0;
}
.margin-top {
    margin-top: 95px;
    padding: 0;
}
.pading {
    padding-left: 80px;
}
#seven ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#seven ul li {
    text-align: center;
}
#seven .asesor ul li.name {
    font-family: 'LatoWebBold';
    font-size: 23px;
    color: #707070;
    text-transform: uppercase;
}
#seven .asesor ul li.title {
    font-family: 'LatoWeb';
    font-size: 14px;
    color: #707070;
    text-transform: uppercase;
}
#seven .asesor ul li.mail a {
    font-family: 'LatoWeb';
    font-size: 14px;
    color: #a5a5a5;
    text-transform: lowercase;
}
#seven .asesor ul li.mail {
    background: url("../image/mail_icon.png") no-repeat left;
}
#seven h6.title {
    font-family: 'LatoWebBold';
    font-size: 17px;
    color: #707070;
    text-transform: uppercase;
}
#seven p {
    font-family: 'LatoWeb';
    font-size: 14px;
    color: #a5a5a5;
    text-transform: initial;
}
/*=======seven Section  end===========*/

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    padding: 0 15px 15px 0px;
}
.plans-info {
    max-height: 710px !important;
}
.menu-custom {
    height: 70px;
    background-image: linear-gradient(to bottom, #ea1d23 0%, #ea1d23 100%);
    background-image: -webkit-linear-gradient(to bottom, #ea1d23 0%, #ea1d23 100%);
    border: 0;
}
.navbar {
    /*position: absolute;*/
    
    top: 0;
}
.stick {
    position: fixed;
    top: -70px;
}
.navbar-inverse.menu-custom .navbar-nav > li > a {
    padding: 22px 25px;
    width: 123px;
    color: #fff;
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
    font-size: 10px;
    display: table;
    line-height: 13px;
    text-transform: uppercase;
    height: 70px;
}
/*.navbar-inverse.menu-custom .navbar-nav>li>a>span {
    margin: 10px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}*/

.lb-container {
    padding: 0;
}
.lightbox .lb-image {
    border-radius: 0;
}
.lb-data .lb-close {
    background: url(../image/close_lightebox.png) top right no-repeat;
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    z-index: 99;
}
.lb-dataContainer {
    padding: 0;
}
.lb-nav a.lb-prev,
.lb-nav a.lb-next {
    opacity: 1;
    display: block;
}
/*@media (max-width: 767px) {
    .navbar-inverse.menu-custom .navbar-nav>li>a>span br {
        display: none;
    }
}*/

.width-third {
    max-width: 75px;
}
/*.navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-1::before {
    content: url('../image/menu-icon-1.png');
    width: 20px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}
*/
/*.navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-2::before {
    content: url('../image/menu-icon-2.png');
    width: 20px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    
}
*/
/*.navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-3::before {
    content: url('../image/menu-icom-3.png');
    width: 28px;
     height: 40px;
    display: table-cell;
    vertical-align: middle;
  
}*/

.navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-4 {
    margin-right: 10px;
}
/*.navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-4::before {
    content: url('../image/menu-icon-4.png');
    width: 20px;
     height: 40px;
    display: table-cell;
    vertical-align: middle;
}*/
/*@media (max-width: 886px) {
    .navbar-inverse.menu-custom .navbar-nav>li>a {
        padding: 10px 8px;
    }
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-1::before,
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-2::before,
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-3::before,
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-4::before { display: none !important; }
}*/
/*@media (max-width: 767px) {
    .navbar-inverse.menu-custom .navbar-nav>li>a {
        padding: 10px;
    }
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-1::before,
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-2::before,
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-3::before,
    .navbar-inverse.menu-custom .navbar-nav>li>.menu-icon-4::before { display: table-cell !important; }
}*/

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 410px;
}
/*.navbar-inverse.menu-custom .navbar-nav>li {
    margin: 0 14px;
}*/
/*@media (max-width: 876px) {
    .navbar-inverse.menu-custom .navbar-nav>li {
        margin: 0;
    }
}*/

.navbar-inverse.menu-custom .navbar-nav>li:first-child {
    margin-left: 0;
}
.navbar-inverse.menu-custom .navbar-nav>li:last-child {
    margin-right: 0;
}
.contact-button {
    float: right;
    position: relative;
}
.pupup-form {
    position: absolute;
    width: 350px;
    background: rgba(255, 255, 255, 1);
    margin: 8px 0;
    right: 0%;
    display: none
}
.pupup-form h2 {
    color: #5e5e5e;
    font-family: 'Avenir-Black';
    font-size: 16px;
    padding: 0 15px;
    margin: 0;
}
.pupup-form label {
    color: #808080;
    font-family: "Avenir-Booklt";
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    padding: 5px 0;
}
.pupup-form .checkbox label {
    font-size: 9px;
}
.pupup-form .close-icon {
    margin: 20px;
    float: right;
    cursor: pointer;
}
.pupup-form .form-section {
    margin: 7% 0 0;
}
.pupup-form button.btn.btn-default.text-center {
    width: 100%;
    color: #b3b3b3;
}
.pupup-form:before {
    content: '';
    height: 12px;
    width: 145px;
    position: absolute;
    top: -10px;
    right: 0;
    border-color: #FFF;
    border-bottom: 5px #fff solid;
    background-repeat: no-repeat;
    background-image: url(../image/triangle.png);
    background-position: 50%;
}
.navbar-inverse.menu-custom .navbar-nav>.active>a,
.navbar-inverse.menu-custom .navbar-nav> li:hover a,
.navbar-inverse.menu-custom .navbar-nav> li:focus a {
    height: 70px;
    background-image: linear-gradient(to bottom, #be181c 0%, #be181c 100%);
    background-image: -webkit-linear-gradient(to bottom, #be181c 0%, #be181c 100%);
    box-shadow: none;
    background-color: #be181c;
}
.navbar-inverse.menu-custom .navbar-nav {
    margin: 0 0 0 10px;
}
.navbar-inverse.menu-custom .btn-success {
    background-color: transparent;
    border: 1px solid #fff;
    margin: 20px 0px 10px;
    padding: 8px 0;
    font-size: 10px;
    border-radius: 0;
    width: 130px;
    outline: none;
    text-transform: uppercase;
}
.banner-section,
.four-section {
    padding-left: 0;
    padding-right: 0;
}
.second-section {
    padding: 108px 0 112px;
    background: url('../image/Section-background/cus_plm_bbq.png');
    background-size: cover;
}
.second-section .italic {
    font-family: 'Avenir-Book';
    color: #535353;
    font-size: 42px;
    line-height: 48px;
    font-style: italic;
    margin: 5% 0;
}
.second-section .italic .text-bold {
    font-family: 'Avenir-Black';
    color: #535353;
    font-size: 42px;
    line-height: 48px;
}
.year {
    background-color: #ea1d23;
    position: absolute;
    padding: 10px 30px;
    font-family: 'avenirregular';
    font-size: 18px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
}
.year span {
    font-family: 'Avenir-Medium';
}
.second-section .text-bold,
.five-sectoion .text-bold {
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    font-family: 'Avenir-Black';
    float: none;
    text-decoration: none;
    list-style: none;
}
.five-sectoion .text-bold {
    font-size: 18px;
    font-family: 'Avenir-Medium';
    color: #5e5e5e;
}
.second-section ul li,
.five-sectoion ul li {
    font-family: 'Avenir-Medium';
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    list-style: none;
    text-align: center
}
.second-section-t {
    background: url('../image/Background_description.jpg');
    background-repeat: no-repeat;
    background-position: center;
    padding: 125px 0;
    background-size: cover;
}
.third-section {
    margin: 0 auto;
    padding:0px 0;
	    height: initial;
}


.third-section .background-txt {
    font-size: 28px;
    line-height: 40px;
    background-color: #ea1d23;
    color: #fff;
    font-family: 'Avenir-Medium';
    display: inline;
    padding: 0 5px;
}
.third-section .quote-reverse .up-quote {
    background-image: url('../image/quote-top.png');
    background-repeat: no-repeat;
    height: 29px;
}
/**
 * New Section
 */

.new-section {
    min-height: 480px;
    padding: 95px 0 75px;
    font-size: 14px;
    line-height: 1.42;
    text-align: center;
    background: url("../image/bg_new_section.jpg") no-repeat center;
    background-size: cover;
    box-sizing: border-box;
    color: #656565;
}
.new-section h3 {
    margin: 0;
    font-size: 1em;
    font-family: Avenir-Black;
    color: #ec1a1f;
}
.new-section small {
    font-size: 0.85em;
    line-height: 1.42;
}
.new-section p:last-child {
    margin: 0;
}
.new-section strong {
    font-family: Avenir-Black;
}
.new-section .row {
    padding: 25px 0;
}
.new-section .row:first-child {
    padding-top: 0;
}
.new-section .row:last-child {
    padding-bottom: 0;
}
.new-section .sub-legal-info {
    font-size: 0.85em;
    line-height: 1.42;
    color: #a8a8a8;
}
.new-section a {
    text-decoration: underline;
    color: #656565;
}
.new-section a:hover {
    text-decoration: none;
}
.third-section .quote-reverse {
    color: #808080;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Avenir-Book';
    text-transform: uppercase;
    padding: 11.064% 0 15.765%;
    margin: 0;
    font-style: italic;
}
.third-section p {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Avenir-Book';
    color: #808080
}
.third-section p b {
    font-family: 'Avenir-Medium';
}
.four-image img {
    /*margin: 20px 30px;*/
}
.third-section .carousel-control.left,
.third-section .carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=1);
}
.third-section .col-md-6.four-image {
    /*margin: 0 15px;*/
    
    padding: 10px 15px;
    font-size: 0;
}
.third-section .img-responsive {
    width: 100%;
}
.four-section .item > div {
    min-height: 600px;
}
.four-section a.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../image/bt_play_video.png") no-repeat center center;
}
.top-slider {
    padding-top: 70px;
}
.four-section .inner-slider-1 {
    background-image: url('../image/common_zone/Habitación-principal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100%;
}
.four-section .inner-slider-2 {
    background-image: url('../image/common_zone/Sala-de-estar.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100%;
}
.four-section .inner-slider-3 {
    background-image: url('../image/common_zone/Cocina-americana.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100%;
}
.four-section .inner-slider-4 {
    background-image: url('../image/common_zone/Baño-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100%;
}
.four-section .inner-slider-5 {
    background-image: url('../image/common_zone/Baño-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100%;
}
.four-section .inner-slider-6 {
    background-image: url('../image/common_zone/Terraza-BBQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100%;
}
.four-section .inner-slider-7 {
    background-image: url('../image/common_zone/Salón-de-niños.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100%;
}

.four-section .slider-title {
    color: #fff;
    font-size: 60px;
    line-height: 75px;
    font-family: 'Avenir-Medium';
}
.four-section .text-backcgound {
    color: #fff;
    background-color: #ea1d23;
    font-size: 35px;
    line-height: 45px;
    font-family: 'Avenir-Book';
    display: inline
}
/*.four-section .carousel-inner > .item .container {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}*/

.four-section .right-content {
    position: absolute;
    max-width: 500px;
    top: 50%;
    right: 8%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}
/*@media (max-width: 640px) {
    .four-section .carousel-inner > .item .container {
        width: 100%;
    }
    .four-section .right-content {
        right: 0;
        padding: 0 60px;
    }
}*/

.four-section .right-content h2 {
    font-family: Avenir-Black;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1;
    margin: 0;
}
.four-section .right-content p {
    /*    font-family: Avenir-Medium;*/
    
    font-family: 'Avenir-Book-oblq';
    font-style: italic;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    margin: 0;
}
.four-section .icon-slide {
    font-size: 72px;
    line-height: 50px;
    color: #5e5e5e;
}
.four-section .navigation-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    transform: translate(-50%);
}
.four-section .navigation-arrow .carousel-control {
    position: absolute;
    height: 85px;
    width: 46px;
    top: -42px;
}
.four-section .navigation-arrow .black-left,
.four-section .navigation-arrow .black-right {
    top: 0;
    left: 0;
    margin-top: 0;
}
.five-sectoion {
    background-color: #fff;
    padding: 75px 0 0px;
}
.five-sectoion .title-text {
    font-size: 46px;
    line-height: 1;
    /*line-height: 32px;*/
    /*font-family: 'Avenir-Medium';*/
    
    font-family: 'Avenir-Black';
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}
.five-sectoion .background-txt {
    font-size: 28px;
    line-height: 0.6;
    font-family: 'Avenir-Booklt';
    /*background-color: #ea1d23;*/
    
    color: #fff;
    display: inline;
    padding: 0 5px;
}
.five-sectoion ul li {
    text-align: left;
}
.five-sectoion .content .content-title {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Avenir-Medium';
    color: #808080;
    padding-bottom: 25px;
}
.five-sectoion .content .content-detail {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    font-family: 'Avenir-Book';
    color: #bfbfbf;
    margin-top: 25px;
    margin-bottom: 25px;
}
.five-sectoion .content .para-detail {
    font-size: 11px;
    line-height: 15px;
    font-family: 'Avenir-Book';
    color: #d4d4d4;
}
.five-sectoion .border-right {
    border-right: #f2f2f2 1px solid;
    margin: 44px 0;
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.five-sectoion .border-right:last-child {
    border-right: 0;
}
.five-sectoion .col-md-4.text-center.border-right p {
    color: #808080;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Avenir-Medium';
    margin: 10px auto 0;
    text-align: center;
}
section.container-fluid.five-sectoion ul,
section.container-fluid.five-sectoion .col-md-6 .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}
.five-sectoion .padding-top {
    padding-top: 18px;
    padding-bottom: 22px;
}
.five-sectoion .carousel-indicators li {
    background-color: #dcdcdc;
    border: 0 none;
}
.five-sectoion .carousel-indicators li.active {
    background-color: #ea1d23;
}
.six-sectoion {
    background: #fafafa;
    padding: 0.761% 0 2.681%;
}
.six-sectoion h2 {
    font-size: 42px;
    margin-bottom: 0;
    line-height: 50px;
        padding-top: 50px;
    
    font-family: 'Avenir-Black';
    color: #5e5e5e;
    text-transform: uppercase;
}
.six-sectoion h2 span {
    font-size: 42px;
    line-height: 50px;
    font-family: 'Avenir-Book';
    color: #fff;
    background: #ea1d23;
    display: inline;
    padding: 0 5px;
}
.six-sectoion p {
    margin-top: 44px;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Avenir-Book';
    color: #a8a8a8;
    text-align: justify;
    -webkit-text-align-last: center;
    -moz-text-align-last: center;
    /* Code for Firefox */
    
    text-align-last: center;
    -ms-text-align-last: center;
}
b {
    font-family: 'Avenir-Medium';
}
.testimonal {
    margin: 0;
}
.testimonal-content p {
    text-align: center;
    font-size: 14px;
    color: #808080;
    font-family: 'Avenir-Book';
    font-style: italic;
    width: 50%;
    margin: 15% auto 0;
}
.testimonal .carousel-control {
    /*top: auto;
    bottom: -10%;*/
}
.testimonal .carousel-indicators {
    bottom: -7.1%;
}
/*@media (max-width: 768px) {
.testimonal .carousel-indicators{ bottom: -4%;}
}*/

.testimonal .black-right,
.testimonal .black-left {
    height: 20px;
    width: 10px;
    background-size: cover;
}
.testimonal {
    position: relative;
    height: 100%;
    top: 0;
    left: 50%;
    width: 89%;
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.legal-info-item {
    font-size: 11px !important;
    font-weight: bold;
    color: #acacac;
    text-align: center;
    opacity: 1;
    padding: 0 10px;
    margin: 18px 0 0 0;
    font-size: 9px;
}
.general-legal {
    margin-top: 65px;
    font-size: 9px;
}
.legal-info-item.general-legal {
    padding: 0;
}
.padding-remove {
    padding: 0;
}
.section-sectoion {
    background: url('../image/map.jpg');
    background-repeat: no-repeat;
    height: 209px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.center-slider-arrow {
    /*position: absolute;*/
    /*height: 100%;*/
    /*left: 50%;*/
    /*top: 0;*/
    /*left: 50%;*/
    /*-ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);*/
    /*z-index: 15;
    width: 100%;*/
}
.carousel-control.left,
.carousel-control.right {
    /*background-image: none*/
}
.footer-sectoion {
    background: url('../image/Background_Contact.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 100px 0 75px 0;
}
.footer-sectoion .form-section {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px 20px;
}
.footer-sectoion h2 {
    color: #808080;
    font-family: 'Avenir-Black';
    font-size: 18px;
    padding: 0 0px;
    margin: 0 0 5px 0;
}
.form-section p {
    padding: 0 16px;
}
.footer-sectoion p {
    color: #808080;
    font-family: 'Avenir-Book';
    font-size: 13px;
}
.footer-sectoion .form-group.col-md-12,
.footer-sectoion .form-group.col-md-12 .col-md-3 {
    padding: 0;
    margin-bottom: 10px;
}
.footer-sectoion .form-group label,
.footer-sectoion .checkbox label {
    /*font-family: 'Avenir-Book';*/
    
    font-family: 'Avenir-Booklt';
    font-size: 12px;
    color: #808080;
    line-height: 15px;
    font-weight: normal;
}
.footer-sectoion .checkbox label {
    font-size: 9px;
}
.footer-sectoion .from-type {
    margin-top: 10%;
}
.footer-sectoion button.btn.btn-default.text-center {
    width: 70%;
    color: #b3b3b3;
    margin: 5% 16%;
}
/*.footer-sectoion .footer-content {
    margin: 35% 0;
}*/

.footer-sectoion .footer-content img.img-responsive {
    margin-bottom: 10%;
}
.footer-sectoion .footer-content p {
    font-family: 'Avenir-Book';
    font-size: 13px;
    color: #fff;
    line-height: 18px;
}
.footer-sectoion .col-md-4 p {
    margin: 0;
    text-align: center;
    font-size: 0.7em;
}
.footer-sectoion .footer-content .col-md-4 {
    margin-top: 15%;
    /*    padding: 0 5px;*/
}
.footer-sectoion .footer-content p b {
    font-family: 'Avenir-Black';
    text-transform: capitalize;
}
footer,
footer a,
footer a:hover {
    background: #333333;
    color: #fff;
    font-family: 'Avenir-Book';
    font-size: 14px;
    line-height: 55px;
}
.footer-sectoion .checkbox label {
    text-decoration: underline
}
.glyphicon.glyphicon-menu-right,
.glyphicon.glyphicon-menu-left,
.black-left,
.black-right,
.white-right,
.white-left {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
    font-size: 45px;
}
.black-right,
.black-left {
    background-position: center;
}
.black-left {
    background-image: url('../image/slider/white-left.png');
    background-repeat: no-repeat;
    height: 85px;
    width: 46px;
}
.testimonal .black-left,
.testimonal .black-right {
    transform: translateX(0px);
}
.menu-nav .navbar {
    padding: 0 10px;
}
.black-right {
    background-image: url('../image/slider/white-right.png');
    background-repeat: no-repeat;
    height: 85px;
    width: 46px;
}
.white-left {
    background-image: url('../image/white-left.png');
    background-repeat: no-repeat;
    height: 85px;
    width: 46px;
    transform: translateX(500px);
}
.white-right {
    background-image: url('../image/white-right.png');
    background-repeat: no-repeat;
    height: 85px;
    width: 46px;
    transform: translateX(-555px);
}
.carousel-control {
    /*width: auto;*/
    
    top: -10%;
}
.six-sectoion .col-md-12.center-block {
    margin: 0 auto;
    padding: 0 12%;
    text-align: center;
}
.playbutton {
    background: url('../image/palybuuton.png');
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
    left: 50%
}
.navbar-inverse .navbar-collapse {
    float: right;
}
.second-section ul {
    padding-left: 0;
}
.carousel-indicators {
    bottom: -45px;
}
.carousel-indicators .active {
    background-color: #ea1d23;
    width: 8px;
    height: 8px;
    margin: 0 2%;
    border-color: #ea1d23;
}
.carousel-indicators li {
    border-color: #cecece;
    margin: 0;
    width: 8px;
    height: 8px;
    margin: 0 2%;
    background-color: #cecece;
}
.four-section .carousel-indicators {
    bottom: -43px;
}
.four-section .carousel-indicators li {
    margin: 0 1%;
    background-color: #cccccc;
    border: 0 none;
}
.four-section .carousel-indicators li.active {
    background-color: #ea1d23;
}
button.close.close-lightbox {
    /* margin: 100%; */
    
    z-index: 9999;
    position: absolute;
    float: right;
    right: 0;
    opacity: 1;
    color: #fff;
    width: 35px;
    /* font-size: 25px; */
    
    height: 35px;
    /* line-height: 25px; */
    
    background: #ea1d23;
}
.modal-dialog {
    margin: 15% auto;
    width: 50%;
}
.embed-responsive {
    position: relative;
    padding-bottom: 29.6%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    max-height: 598px;
}
.input-container {
    background-color: #f8f1f1;
    border: 1px solid #d3d3d3;
    height: 60px;
    font-family: 'Avenir-Book';
    display: inline-block;
    padding: 10px;
    margin: 0 17%;
}
.input-container input {
    width: 16px;
    float: left;
    height: 16px;
    margin-top: 12px;
    left: -20px;
}
.form-section img {
    width: 20px;
}
.recaptcha {
    font-size: 10px;
    padding-right: 0;
    margin-right: 30px;
}
.checkbox-text {
    margin-top: -15px;
    font-size: 10px;
    margin: -15px 0 0 0;
    padding: 0;
}
.triangle {
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #cccccc;
    border-top: 7px solid transparent;
    position: relative;
    left: 10px;
    top: -55px;
}
.not-human {
    width: 340px;
    height: 200px;
    background-color: white;
    border: 1px solid #cccccc;
    padding: 15px;
    position: relative;
    top: -55px;
    left: 3px;
}
.not-human .captcha-code {
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-size: 18px;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.not-human .captcha-code:focus {
    outline: none;
    border-bottom: 1px solid #4a90e2;
}
.not-human img {
    display: inline-block;
    position: relative;
    left: 75px;
    top: -80px;
    width: 300px;
    height: 57px;
}
.not-human .line {
    width: 370px;
    height: 1px;
    background-color: #cccccc;
    margin-top: 90px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.not-human .img {
    width: 24px;
    height: 24px;
    position: relative;
    top: -36px;
    margin: 0 4px 75px 4px;
    display: inline-block;
    cursor: pointer;
    background-size: 24px 24px;
    opacity: 0.55;
}
.not-human .img.replay {
    background: url(https://www.gstatic.com/recaptcha/api2/refresh.png);
}
.not-human .img.audio {
    background: url(https://www.gstatic.com/recaptcha/api2/audio.png);
}
.not-human .img.info {
    background: url(https://www.gstatic.com/recaptcha/api2/info.png);
}
.not-human .img:hover {
    opacity: 1.0;
}
.not-human .verify {
    float: right;
    position: relative;
    top: -42px;
    margin-right: 5px;
    background-color: #4a90e2;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
}
.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    height: 16px;
    width: 16px;
    margin-top: 0;
}
.content-detail ul li {
    list-style-type: disc;
    margin: 2px 0 2px 30px;
    color: #acacac;
    font-size: 14px;
    font-family: Avenir-Book, Arial, Helvetica, SansSerif;
}
/*@media (max-width: 768px) {
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background: none;
        border: 0
    }
    .navbar-inverse .navbar-toggle {
        border: 0
    }

    .four-section .navigation-arrow { width: 100%; }

    .container>.navbar-header { padding-right: 0; }
}*/

@media only screen and (max-device-width: 767px) {
    /*@media only screen and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {*/
    
    .container,
    .container-fluid {
        padding-left: 0;
        padding-right: 0
    }
    section.container-fluid.five-sectoion,
    section.container-fluid.six-sectoion {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        /*position: relative*/
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        background-color: #ea1d23;
        border-color: transparent;
        box-shadow: none;
    }
    .container>.navbar-collapse {
        /*margin-right: 0;
        margin-left: 0;
        position: initial;
        margin-top: 18px;*/
        
        position: absolute;
        width: 100%;
        max-width: 320px;
        right: 0;
    }
    .four-section .right-content h2 {
        font-size: 24px;
    }
    .four-section .right-content p {
        font-size: 12px;
    }
    footer,
    footer a,
    footer a:hover {
        line-height: 28px;
    }
    .five-sectoion {
        padding: 30px 0;
    }
    .navbar-inverse.menu-custom .navbar-nav>.active>a,
    .navbar-inverse.menu-custom .navbar-nav>.active>a:hover,
    .navbar-inverse.menu-custom .navbar-nav>.active>a:focus {
        width: 100%;
        height: auto
    }
    .navbar-inverse.menu-custom .navbar-nav>li {
        /*width: 100%;
        display: inline;*/
    }
    .navbar-inverse.menu-custom .navbar-nav {
        margin: 0 20px;
    }
    .contact-button {
        float: none;
        position: relative;
        margin: 0 10%;
    }
    .navbar-inverse.menu-custom .btn-success {
        width: 100%;
    }
    section.container-fluid.banner-section .carousel {
        top: -20px;
    }
    .third-section h2 {
        font-size: 30px;
        /*line-height: 25px;*/
    }
    .second-section .italic,
    .second-section .italic .text-bold {
        font-size: 21px;
        line-height: 24px;
        margin: 0;
    }
    .third-section .background-txt {
        font-size: 23px;
        line-height: 30px;
        padding: 0 5px;
    }
    .third-section .quote-reverse {
        font-size: 12px;
        line-height: 14px;
        padding: 5% 0 2%;
    }
    p.quote-reverse sup img {
        height: 10px;
    }
    .four-section .slider-title {
        font-size: 30px;
        line-height: 38px;
    }
    .four-section .text-backcgound {
        font-size: 18px;
        line-height: 22px;
        padding: 0 5px;
    }
    .five-sectoion .title-text {
        font-size: 30px;
        line-height: 25px;
    }
    .five-sectoion .background-txt {
        font-size: 22px;
        line-height: 25px;
    }
    .five-sectoion .padding-top {
        padding: 5% 0;
    }
    .five-sectoion .content .content-title {
        font-size: 15px;
        line-height: 18px;
    }
    .five-sectoion .content .content-detail {
        font-size: 12px;
        line-height: 18px;
    }
    .testimonal {
        width: 100%;
    }
    .testimonal p {
        font-size: 12px;
        width: 100%;
    }
    .six-sectoion h2,
    .six-sectoion h2 span {
        font-size: 18px;
        line-height: 22px;
    }
    .six-sectoion p {
        font-size: 12px;
        line-height: 16px;
        margin-top: 20px;
    }
    .footer-sectoion .form-section {
        padding: 10px 5px;
        margin: 5% 0;
    }
    .form-group {
        margin-bottom: 2%;
    }
    .footer-sectoion .form-group label,
    .footer-sectoion .checkbox label {
        font-size: 10px;
        line-height: 14px;
    }
    .form-control {
        height: 25px;
    }
    .footer-sectoion {
        padding: 35px 0;
    }
    .footer-sectoion h2,
    .footer-sectoion p {
        font-size: 12px;
    }
    .radio,
    .checkbox {
        margin: 5px 0;
    }
    .btn {
        padding: 3px 6px;
    }
    .footer-sectoion .footer-content {
        margin: 0;
        padding-top: 15px;
    }
    .footer-sectoion .col-md-12.footer-content img.img-responsive {
        margin-bottom: 0
    }
    .footer-sectoion .col-md-12.footer-content p {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .footer-sectoion .col-md-12.footer-content .col-md-4 {
        margin: 0;
    }
    .center-slider-arrow {
        width: 100%;
        left: 50%;
        top: -12%;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .container>.navbar-header,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container-fluid>.navbar-collapse {
        margin: 0
    }
    .carousel-control.left {
        left: 7%;
        /*top: 220px;*/
    }
    .carousel-control.right {
        /*right: 14%;*/
        /*top: 220px;*/
    }
    .testimonal .black-right,
    .testimonal .black-left {
        top: 235px !important;
    }
    .white-left,
    .white-right,
    .black-left,
    .black-right {
        height: 40px;
        width: 24px;
        background-size: cover;
        transform: translateX(0px);
    }
    .four-section .center-slider-arrow {
        top: 0;
    }
    .carousel-indicators {
        bottom: -30px;
    }
    .four-section .carousel-indicators {
        bottom: 0;
    }
    .modal-dialog {
        margin: 15% auto;
        width: 90%;
    }
    .embed-responsive {
        padding-bottom: 22%;
    }
    .input-container {
        padding: 10px;
        margin: 0 10%;
    }
    .form-section img {
        width: 20px;
    }
    .four-image img {
        margin: 10px 10px;
    }
    .footer-sectoion .from-type {
        margin-top: 5%;
    }
}
/*@media only screen and (min-device-width: 768px) and (max-device-width:1024px) {
    .five-sectoion .padding-top{
        padding: 5% 0;
    }
    .third-section h2{
        font-size: 35px;
        line-height: 40px;
    }
    .third-section .background-txt{
        font-size: 30px;
        line-height: 45px;
    }
    .third-section .quote-reverse{
        font-size: 18px;
        line-height: 20px
    }
    .container{
        width: 100%;
        margin: 0;
        padding: 0
            
    }
    .navbar-inverse.menu-custom .navbar-nav>li{
       /*width: 120px;*/
/*}
    .navbar-inverse.menu-custom .btn-success{
        width: 100px;
    }
    .nav>li>a{   padding: 5px 10px;}
    .embed-responsive{ padding-bottom: 27.3%;}
    .testimonal .black-left{
             transform: translateX(-165px);
    }
    .testimonal .black-right{
             transform: translateX(165px);
    }
}*/
/*@media only screen and (min-device-width: 1025px) and (max-device-width:1200px) {
    .embed-responsive{
        padding-bottom: 28.2%;
    }
}
@media only screen and (min-device-width: 1201px) and (max-device-width:1400px) {
    .embed-responsive{
         padding-bottom: 28.7%;
    }
}
@media only screen and (min-device-width: 1401px) and (max-device-width:1700px) {
    .embed-responsive{
        padding-bottom: 29.1%;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width:1024px)and (orientation: landscape){
    .navbar-inverse.menu-custom .navbar-nav>li {
        /*width: 160px;*/
/*}
    .embed-responsive {
        padding-bottom: 28.2%;
    }
}*/
/*@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/

.group1-Wrapper {
    top: 0;
    width: 100%;
}
/*@media screen and (max-width: 640px){
    
    .new-section h3{
        font-size: 12px;
    }
    .third-section .col-md-5.four-image{
        margin: 0;
    }
     .center-slider-arrow{
        width: 100% !important;
    }
    .carousel-control .black-right{
        /*width: 100% !important;*/
/* }
    .third-section h2{
        font-size: 40px;
    }
    .four-section .slider-title{
        font-size: 38px;
        line-height: 42px;
    }
    .testimonal .carousel-indicators {bottom: -5%;}
}*/
/*@media screen and (max-width: 768px){
    .navbar-inverse.menu-custom .navbar-nav li a {
        width: 100%;
        max-width: 100%;
    }
    .navbar-header button{
        margin-top: 20px;
    }
    /*.navbar-inverse.menu-custom .navbar-nav{
        margin-top: 5%;
    }*/
/*.navbar-header{
        z-index: 1;
    }
    #sliderFrame{
        margin-top: 70px !important;
    }
    .six-sectoion h2 span{
        display: inline-block;
    }
    .testimonal-content p{
        width: 100%;
    }
    .six-sectoion .col-md-12.center-block{
        padding: 0;
    }

    .third-section > .col-md-5{
        text-align: center;
    }
    .third-section .quote-reverse{
        text-align: center;
    }
    .third-section{
        margin:10% 0; 
        padding: 35px 0;
    }
    .center-slider-arrow{
      /*  width: 60%;*/
/* top: -8.4%
    }
    .new-section{
        padding: 50px;
    }
    .four-section .inner-slider-1{
        min-height: 300px;
    }
    .four-section .item > div{
        min-height: 300px;
    }
    .second-section{
        padding: 60px 0;
    }
    .second-section ul{
        padding: 20px 0;
    }
    .new-section .row{
        padding: 12px 0;
    }
}*/
/*/

@media  (min-width: 768px) and (max-width: 991px){
    /*.navbar-inverse.menu-custom .navbar-nav > li{
        !*width: 115px;*!
        display: table-cell;
    width: 1%;
    float: none;
    }*/

.navbar-inverse.menu-custom .navbar-nav > li a.menu-icon-4 span {
    max-width: 91px;
}
.navbar-inverse.menu-custom .navbar-nav > li > a > span {
    max-width: 73px;
}
.navbar-inverse.menu-custom .btn-success {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-top: 15px;
    font-size: 12px;
    margin-left: 0;
}
.navbar-inverse.menu-custom .navbar-nav {
    margin-top: 0;
}
.navbar-inverse.menu-custom .navbar-nav > li > a {
    font-size: 9px;
}
.row {
    margin: 0;
}
.testimonal .black-right,
.testimonal .black-left {
    transform: inherit;
}
/* .testimonal .black-left{
        left: -17px !important;
    }
    .testimonal .black-right{
        right: -12px !important;
    }*/
}
/*@media (min-width: 992px) and (max-width: 1200px){
    /*.testimonal .black-right{
        transform: translateX(-180px) !important;
    }
    .testimonal .black-left{
        transform: translateX(180px) !important;
    }*/
/*.testimonal .black-right,
    .testimonal .black-left{
        transform: inherit;
    }
    .testimonal .black-left{
        left: -45px !important;
    }
    .testimonal .black-right{
        right: -45px !important;
    }
    .navbar-inverse.menu-custom .btn-success{
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-top: 15px;
        font-size: 12px;
    }
    .row{
        margin: 0;
    }
    
}*/

#product-detail .carousel-inner .item .padding-top .col-md-6 {
    padding-left: 15px;
    padding-right: 15px;
}
#product-detail .carousel-inner .item .itemTtlRed {
    background: #a3a3a3;
    padding: 15px;
}
#product-detail .carousel-inner .item .padding-top {
    border: 1px solid #a3a3a3;
    margin-bottom: 40px;
}
.testimonal .black-right {
    background-image: url("../image/arrow-right.jpg");
    height: 116px;
    right: -11px;
    top: 219px;
    width: 34px;
}
.testimonal .black-left {
    background-image: url('../image/arrow-left.jpg');
    width: 34px;
    height: 116px;
    left: -45px;
    top: 219px;
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}
#product-detail .item .col-md-6 .col-md-12 {
    display: table;
}
.five-sectoion .testimonal .carousel .carousel-inner {
    /*margin-left: 45px;*/
    /*padding-right: 30px;*/
}
.six-sectoion .center-block h2 + span {
    font: 17px 'Avenir-Medium';
    color: #818181;
}
.footer-content .addressblk {
    padding-left: 0;
    text-align: left;
}
.footer-content .addressblk p {
    font-size: 14px;
    text-align: left;
}
.footer-content .addressblk p.cityname b {
    font-size: 16px;
    font-weight: normal;
    float: left;
    margin-top: 3px;
}
.footer-content .addressblk p.contactno b {
    float: left;
    font-size: 24px;
    margin-top: 4px;
    font-weight: normal;
}
.ftr-cnt-rgt {
    padding-left: 0;
    padding-right: 0;
}
/*@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/
/*@media screen and (max-width:767px)   {
    .carousel-control.left{
        left: 0;
    }
    .testimonal .black-left{
        left: -17px;
    }
    .testimonal .black-right{
        right: -15px;
    }
    .rc-anchor-normal{
        max-width: 100%;
    }
}*/

iframe {
    max-width: 100%;
}